:root {
    --footer-height: 40px;
    --pico-icon-loading: url(/images/loading.svg);
}

.main {
    padding-top: 1em;
    min-height: calc(100vh - var(--footer-height));
}

.grid-container { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

button {
    min-width: 200px;
}

button.delete {
    background-color: #dc2626;
    color: white;
}

button.short {
    min-width: auto;
}

.footer {
    height: var(--footer-height);
}

.chat {
    width: 100%
}

.agents-image {
    width: 100%;
    display: block
}

.loading {
    padding-right: 10px
}

#card, .card {
    width: 100%;
}

#history {
    width: 100%
}

#results {
    display: flex; 
    flex-wrap: wrap
}

.hidden {
    display: none
}

@media (min-width: 768px) { 
    #card, .card {
        width: 50%;
    }
    
    #history {
        width: 50%
    }
    
    #results {
        display: flex; 
        flex-wrap: wrap
    }
}

